@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit Browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}



/* Base styles for the button */
.blue-button {
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px; /* Vertical and horizontal padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
  }
  
  /* Hover effect */
  .blue-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  /* Hide the default checkbox */
.custom-circle-checkbox {
  appearance: none; /* Removes default checkbox styling */
  -webkit-appearance: none; /* Compatibility for WebKit browsers */
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Makes it circular */
  background-color: #fff; /* Default background */
  cursor: pointer; /* Pointer cursor for better UX */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the tick icon */
  position: relative;
  box-shadow: 0 0 0 1px #ccc; /* Light outline for visibility */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Checked state: blue background and white tick */
.custom-circle-checkbox:checked {
  background-color: #007bff; /* Blue background */
  box-shadow: none; /* Remove shadow when checked */
}

.custom-circle-checkbox:checked::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid white; /* White tick */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); /* Create tick shape */
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Optional for dimming background */
  z-index: 1000; /* Ensure it stays on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 300px; /* Adjust as needed */
  z-index: 1001; /* Ensures content is above the overlay */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* styles/globals.css */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
